# Exclude all folders that start with "."
.*/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# API Keys
/keys.sh

# Build
/build
/daios.egg-info
